{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>
	<title>{% block page_title %}Lottery Map{% endblock %}</title>
	<meta charset="utf-8">
	
	<!-- jquery -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- naver map -->
	<script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=147a279b4c0e9e45eacde504d5e0bd19"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
	{% block content %}{% endblock %}
</body>

</html>